*{
	margin: 0;
	padding: 0;
}


body{
	background-color: #EDEFF0;
	text-align: center;
}

#Qheading{
	width: 100%;
	margin: 10px auto 0 auto;
	display: inline-flex;
	justify-content: space-around;
	/*border-radius: 10px 10px 0 0 ;*/
	font-size: 50px;
	color: #384047;
	/*background-color: #fff;*/
}


#homeuna{
    font-size: 20px;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    /* margin: auto 0px auto 100px; */
}

.wrapper{
	width: 400px;
	margin: auto;
	margin-top: 40px;
	background-color: #fff;
	border-radius: 10px
}

.wrapper h1{
	color:#fff;
	font-size: 40px;
	background-color: #008297;
	padding: 10px 0;
	border-radius: 10px;
}

form{
	padding:20px 50px 30px 50px;
	margin-bottom: 20px;
}
#form-content{
	padding-bottom: 30px; 
	text-align: left;
}


#form-content label{
	padding: 10px 0;
	color:#384047;
	font-size: 20px;
}

#fieldwrapper{
	padding:10px 0;
}

form input{
	margin: 10px;
	width: 100%;
	border: 2px solid grey;
  	border-radius: 4px;
  	height: 25px;
  	font-size: 15px;

}

#submit-button{
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 20px;
}

#forgot-button{
	padding: 5px 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 14px;
}

.add-color-green{
	color: #5FCF80;
}

#form-content .sublabel{
	font-size: 15px;
	margin: 10px;
	text-align: center;
}
